<div class="mobile-margin" >
</div>
<div class="container">
  <div class="row">
		<div class="col-sm-12 col-md-5 col-lg-4">
			<div class="col-md-12 col-lg-12 featured-article" style="padding-left:0px; padding-right:0px" >
        <%= link_to article_path(@article_first) do %>
          <% if @article_first.thum.present? %>
            <%= image_tag @article_first.thum, width: "100%", height: "100%" %>
          <% else %>
            <%= image_tag("http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg", class:"media-object", alt: "...",  width: "100%", height: "100%") %>
          <% end %>
        <% end %>
				<div class="block-title">
					<h2><%= @article_first.title %></h2>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-5 col-lg-5">
			<ul class="media-list main-list">
        <% @article_main.each do |article| %>
    			  <li class="media">
              <%= link_to article_path(article), class:"pull-left" do %>
                <% if article.thum.present? %>
                  <%= image_tag article.thum, width: 150, height: 90 %>
                <% else %>
                  <%= image_tag("http://d-kamiichi.com/wp-content/uploads/2016/05/marvel-ironman-movie-free.jpg", class:"media-object", alt: "...",  width: 150, height: 90) %>
                <% end %>
              <% end %>
              <div class="media-body">
    			      <h4 class="media-heading"><%= article.title %></h4>
    			      <p class="by-author"><%= article.category.name %></p>
    			    </div>
      			</li>
        <% end %>
			</ul>
		</div>
    <div class="col-sm-12 col-md-2 col-lg-3 ad_zaif">
      <%= link_to "https://coincheck.com/?c=huHk3QiSzpI", target: "_blank" do %>
        <%= image_tag("https://coincheck.com/images/affiliates/03_cc_banner_250x250.png",  alt: "ビットコイン取引高日本一の仮想通貨取引所 coincheck bitcoin") %>
      <% end %>
    </div>
	</div>
</div>
<div class="line">
</div>
