<%= form_for @article do |f| %>
<h3>タイトル</h3><%= f.text_field :title, class: "title_area"%>
<h3>サムネイル</h3><%= f.text_field :thum %>
  <%= f.cktext_area :body %>
  <%= f.submit '記事を更新する', class: 'article_sumit' %>
<% end %>
