<div class="main_news">
  <%= render 'matomes/mainnews' %>
</div>


<div class="col-sm-12 col-md-8 col-lg-9 article_body">
  <div class="title">
    <h1><%= @article.title %></h1>
  </div>
  <%== @article.body %>
</div>
  <%= render 'matomes/sidebar' %>
<% if user_signed_in? %>
  <%= link_to '編集する', edit_article_path(@article), class: "admin_link" %>
  <%= link_to '削除する', article_path(@article), method: :delete, class: "admin_link", data: { :confirm => '削除します。よろしいですか?'} %>
<% end %>
